@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f5f5f5;
  --font-helvetica-neue: "Helvetica Neue", Arial, sans-serif;
  --color-primary: #055499;
  --color-primary-light: #f2f3f7;
  --color-primary-hover: #2872b3;
  --color-secondary: #fe8a0f;
  --color-secondary-hover: #fea873;
  --color-nav-item: #343434;
  --color-background: #ffffff;
  --color-headlines: #1e1e1e;
  --color-subtitle: #434343;
  --color-info: #6b6969;
  --color-border: #e6e6e6;
  --color-error: #d32f2f;
  --color-discard: #e6e6e6;
  --color-discard-hover: #dae6f2;
  --color-discard-sc-hover: #f8e5e5;
  --color-success: #4caf50;
}

body {
  /* background: var(--foreground); */
  font-family: var(--font-helvetica-neue);
  color: var(--color-headlines);
  user-select: none;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: var(--color-headlines);
}

h2 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

button {
  font-size: 14px;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Global CSS or Tailwind config */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
